/*
=====================================
Projects
=====================================
*/
#projects {
  padding: 6rem 0;
  position: relative;
  z-index: 1;

  .post {
    .post-link {
      display: block;
      position: relative;
      overflow: hidden;

      .post-image {
        img {
          transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        }
      }

      &:hover {
        .post-image img {
          transform: scale(1.2);
        }
      }

      .post-content {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: $color-dark-transparent-low;
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);

        // Post heading
        .post-heading {
          margin-bottom: 0;

          h2 {
            font-size: 1.2rem;
            color: $color-white;
            opacity: 0;
            visibility: hidden;
            transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            transform: translateY(-8rem);
            margin-bottom: 0.5rem;
          }

          .post-categories {
            display: flex;
            flex-direction: row;
            justify-content: center;
            opacity: 0;
            visibility: hidden;
            transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            transform: translateY(4rem);

            span {
              color: $color-gray-100;
              font-size: 0.75rem;
              margin: 0.5rem;
              border-radius: 2rem;
            }
          }
        }

        .post-icons {
          display: flex;

          i {
            width: 3rem;
            height: 3rem;
            background: $color-dark-transparent-low;
            border-radius: 50%;
            color: $color-primary;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0.5rem 0.25rem;
            transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            opacity: 0;
            font-size: 1rem;

            &:first-child {
              transform: translateX(1rem);
            }

            &:last-child {
              transform: translateX(-1rem);
            }
          }
        }
      }

      &:hover {
        .post-content {
          opacity: 1;
          visibility: visible;

          .post-heading {
            h2 {
              opacity: 1;
              visibility: visible;
              transform: translateY(0);
            }

            .post-categories {
              opacity: 1;
              visibility: visible;
              transform: translateY(0);
            }
          }

          .post-icons {
            i {
              opacity: 1;
              transform: translateY(0);

              &:first-child:hover {
                background: $color-primary;
                color: $color-white;
                cursor: zoom-in;

                &~i {
                  background: $color-dark-transparent-low;
                  color: $color-primary;
                }
              }

              &:last-child {
                background: $color-primary;
                color: $color-white;
              }
            }
          }
        }
      }
    }
  }
}